* {
    margin: 0;
    padding: 0;
}

.tasks {
    flex: 1;
    margin: 5% 30% 5px 30%;
}

.single-task {
    background-color: #0c0b0d;
    border-radius: 10px;
    margin: 3%;
    padding: 5px;
    color: #fff;
    list-style-type: none;
}

.single-task:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.single-task-status {
    width: 80px;
}

.done {
    text-decoration: line-through;
}

.single-task-btn {
    text-decoration: none;
    color: #fff;
}

.single-task-btn:hover {
    color: #000;
}