nav {
    width: 100%;
}

#nav-left {
    float: left;
}

#nav-right {
    float: right;
}

.nav-btn {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    width: 100px;
    text-decoration: none;
}