main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100%;
}

#nav-left {
    float: left;
}

#nav-right {
    float: right;
}

#nav-left h2 {
    display: inline-block;
}

.nav-btn {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    width: 100px;
    text-decoration: none;
}

.nav-btn:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

footer {
    text-align: center;
    color: #000;
    margin-top: auto;
}

.hero-link {
    color: #000;
    text-decoration: none;
}