* {
    margin: 0;
    padding: 0;
}

.register-form {
    flex: 1;
}

.input-field {
    padding: 20px;
    background-color: #0c0b0d;
    color: #fff;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 10px;
    width: 200px;
}

.submit-form-btn {
    padding: 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 10px;
    width: 240px;
}

.submit-form-btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}