.hero {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #000;
}

#hero-header {
    color: #fff;
    font-size: 5em;
}

.hero-footer {
    display: flex;
}

.sign-btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    text-decoration: none;
    margin: 5px;
    height: 10px;
}

.sign-btn:hover {
    background-color: #fff;
    color: #000;
}

